@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "GFS Didot", serif;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #F9ECDB;
    --marrom-claro: #8C7A6B;
    --marrom-medio: #87705D;
    --marrom-escuro: #6C5A4A;
}

body {
    background-image: url(assets/fundo_presentes_2.svg);
    background-size: cover;
    background-position: top;
    background-repeat: repeat;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 2vh;
}